<nav>
    <div class="nav-container">
      <div class="link-btn-container">
        <a class="logo" href="/index.html"> D-Tract </a>

        <div class="nav-right">
          <div class="nav-links"> 
            <ul>
              <li><a href="about.html">About us</a></li>
              <li>
                <div class="dropdown">
                  Services
                  <i class="fa-solid fa-angle-down"></i>
                  <div class="dropdown-out">
                    <div class="dropdown-con">
                      <div class="dc-item">
                        <img
                          src="https://cdn.prod.website-files.com/66c89c41b01a092340805473/66d9f65c74fa30e5e0a8912c_Talent.svg"
                          alt="New"
                        />
                        <div class="dc-item-c">
                          <h2>Exchange website</h2>
                          <p>Lorem, ipsum dolor sit amet.</p>
                        </div>
                      </div>
                      <div class="dc-item">
                        <img
                          src="https://cdn.prod.website-files.com/66c89c41b01a092340805473/66d9f65c74fa30e5e0a8912c_Talent.svg"
                          alt="New"
                        />
                        <div class="dc-item-c">
                          <h2>Blockchain Application</h2>
                          <p>Lorem, ipsum dolor sit amet.</p>
                        </div>
                      </div>
                      <div class="dc-item">
                        <img
                          src="https://cdn.prod.website-files.com/66c89c41b01a092340805473/66d9f65c74fa30e5e0a8912c_Talent.svg"
                          alt="New"
                        />
                        <div class="dc-item-c">
                          <h2>Crypto Token</h2>
                          <p>Lorem, ipsum dolor sit amet.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  Resources
                  <i class="fa-solid fa-angle-down"></i>
                  <div class="dropdown-out">
                    <div class="dropdown-con">
                      <div class="dc-item">
                        <img
                          src="https://cdn.prod.website-files.com/66c89c41b01a092340805473/66d9f65c74fa30e5e0a8912c_Talent.svg"
                          alt="New"
                        />
                        <div class="dc-item-c">
                          <h2>Blogs</h2>
                          <p>Lorem, ipsum dolor sit amet.</p>
                        </div>
                      </div>
                      <div class="dc-item">
                        <img
                          src="https://cdn.prod.website-files.com/66c89c41b01a092340805473/66d9f65c74fa30e5e0a8912c_Talent.svg"
                          alt="New"
                        />
                        <div class="dc-item-c">
                          <h2>White Paper</h2>
                          <p>Lorem, ipsum dolor sit amet.</p>
                        </div>
                      </div>
                      <div class="dc-item">
                        <img
                          src="https://cdn.prod.website-files.com/66c89c41b01a092340805473/66d9f65c74fa30e5e0a8912c_Talent.svg"
                          alt="New"
                        />
                        <div class="dc-item-c">
                          <h2>Tools</h2>
                          <p>Lorem, ipsum dolor sit amet.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#">Our work</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
          <a class="hero-btn">Let's talk</a>
        </div>

        <div class="toggle">
          <div class="toggle-1 tl"></div>
          <div class="toggle-2 tl"></div>
          <div class="toggle-3 tl"></div>
        </div>
      </div>
    </div>
  </nav>